/* line 8, ../../app/assets/stylesheets/events.css.scss */
.field .movie {
  width: 28em;
  background-color: #ddd;
  margin: 1em;
  padding: 1em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
/* line 10, ../../app/assets/stylesheets/events.css.scss */
.field .movie a {
  float: right;
  margin-top: 1em;
}
/* line 14, ../../app/assets/stylesheets/events.css.scss */
.field .movie input {
  width: 99%;
}
