/*
Syntax error: Invalid CSS after "": expected expression (e.g. 1px, bold), was "= !primary_color"
        on line 4 of /Users/mediamarkt/src/ruby/videonight/app/assets/stylesheets/scaffolds.css.sass

1: !primary_color = #4B7399
2: 
3: body
4:   :background-color = !primary_color
5:   :font
6:     :family Verdana, Helvetica, Arial
7:     :size 14px
8: 
9: a

Backtrace:
/Users/mediamarkt/src/ruby/videonight/app/assets/stylesheets/scaffolds.css.sass:4
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/sass-3.1.11/lib/sass/scss/parser.rb:926:in `expected'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/sass-3.1.11/lib/sass/script/lexer.rb:193:in `expected!'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/sass-3.1.11/lib/sass/script/parser.rb:450:in `assert_expr'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/sass-3.1.11/lib/sass/script/parser.rb:49:in `parse'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/sass-3.1.11/lib/sass/script/parser.rb:140:in `parse'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/sass-3.1.11/lib/sass/script.rb:32:in `parse'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/sass-3.1.11/lib/sass/engine.rb:830:in `parse_script'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/sass-3.1.11/lib/sass/engine.rb:593:in `parse_property'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/sass-3.1.11/lib/sass/engine.rb:544:in `parse_line'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/sass-3.1.11/lib/sass/engine.rb:456:in `build_tree'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/sass-3.1.11/lib/sass/engine.rb:475:in `block in append_children'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/sass-3.1.11/lib/sass/engine.rb:474:in `each'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/sass-3.1.11/lib/sass/engine.rb:474:in `append_children'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/sass-3.1.11/lib/sass/engine.rb:465:in `block in build_tree'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/sass-3.1.11/lib/sass/engine.rb:458:in `each'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/sass-3.1.11/lib/sass/engine.rb:458:in `build_tree'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/sass-3.1.11/lib/sass/engine.rb:475:in `block in append_children'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/sass-3.1.11/lib/sass/engine.rb:474:in `each'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/sass-3.1.11/lib/sass/engine.rb:474:in `append_children'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/sass-3.1.11/lib/sass/engine.rb:330:in `_to_tree'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/sass-3.1.11/lib/sass/engine.rb:300:in `_render'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/sass-3.1.11/lib/sass/engine.rb:248:in `block in render'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/sass-3.1.11/lib/sass/util.rb:297:in `silence_sass_warnings'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/sass-3.1.11/lib/sass/engine.rb:248:in `render'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/sass-3.1.11/lib/sass/plugin/compiler.rb:339:in `update_stylesheet'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/sass-3.1.11/lib/sass/plugin/compiler.rb:202:in `block in update_stylesheets'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/sass-3.1.11/lib/sass/plugin/compiler.rb:200:in `each'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/sass-3.1.11/lib/sass/plugin/compiler.rb:200:in `update_stylesheets'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/sass-3.1.11/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/sass-3.1.11/lib/sass/plugin.rb:54:in `check_for_updates'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/sass-3.1.11/lib/sass/plugin/rack.rb:51:in `call'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/warden-1.1.0/lib/warden/manager.rb:35:in `block in call'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/warden-1.1.0/lib/warden/manager.rb:34:in `catch'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/warden-1.1.0/lib/warden/manager.rb:34:in `call'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/actionpack-3.1.3/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/rack-1.3.5/lib/rack/etag.rb:23:in `call'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/rack-1.3.5/lib/rack/conditionalget.rb:25:in `call'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/actionpack-3.1.3/lib/action_dispatch/middleware/head.rb:14:in `call'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/actionpack-3.1.3/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/actionpack-3.1.3/lib/action_dispatch/middleware/flash.rb:247:in `call'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/rack-1.3.5/lib/rack/session/abstract/id.rb:195:in `context'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/rack-1.3.5/lib/rack/session/abstract/id.rb:190:in `call'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/actionpack-3.1.3/lib/action_dispatch/middleware/cookies.rb:331:in `call'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/activerecord-3.1.3/lib/active_record/query_cache.rb:64:in `call'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/activerecord-3.1.3/lib/active_record/connection_adapters/abstract/connection_pool.rb:477:in `call'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/actionpack-3.1.3/lib/action_dispatch/middleware/callbacks.rb:29:in `block in call'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/activesupport-3.1.3/lib/active_support/callbacks.rb:392:in `_run_call_callbacks'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/activesupport-3.1.3/lib/active_support/callbacks.rb:81:in `run_callbacks'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/actionpack-3.1.3/lib/action_dispatch/middleware/callbacks.rb:28:in `call'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/actionpack-3.1.3/lib/action_dispatch/middleware/reloader.rb:68:in `call'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/rack-1.3.5/lib/rack/sendfile.rb:101:in `call'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/actionpack-3.1.3/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/actionpack-3.1.3/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/railties-3.1.3/lib/rails/rack/logger.rb:13:in `call'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/rack-1.3.5/lib/rack/methodoverride.rb:24:in `call'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/rack-1.3.5/lib/rack/runtime.rb:17:in `call'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/activesupport-3.1.3/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/rack-1.3.5/lib/rack/lock.rb:15:in `call'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/actionpack-3.1.3/lib/action_dispatch/middleware/static.rb:53:in `call'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/railties-3.1.3/lib/rails/engine.rb:456:in `call'
/Users/mediamarkt/.rvm/gems/ruby-1.9.2-p136@global/gems/railties-3.1.3/lib/rails/railtie/configurable.rb:30:in `method_missing'
/Users/mediamarkt/Library/Application Support/Pow/Versions/0.3.2/node_modules/nack/lib/nack/server.rb:146:in `handle'
/Users/mediamarkt/Library/Application Support/Pow/Versions/0.3.2/node_modules/nack/lib/nack/server.rb:99:in `rescue in block (2 levels) in start'
/Users/mediamarkt/Library/Application Support/Pow/Versions/0.3.2/node_modules/nack/lib/nack/server.rb:96:in `block (2 levels) in start'
/Users/mediamarkt/Library/Application Support/Pow/Versions/0.3.2/node_modules/nack/lib/nack/server.rb:86:in `each'
/Users/mediamarkt/Library/Application Support/Pow/Versions/0.3.2/node_modules/nack/lib/nack/server.rb:86:in `block in start'
/Users/mediamarkt/Library/Application Support/Pow/Versions/0.3.2/node_modules/nack/lib/nack/server.rb:66:in `loop'
/Users/mediamarkt/Library/Application Support/Pow/Versions/0.3.2/node_modules/nack/lib/nack/server.rb:66:in `start'
/Users/mediamarkt/Library/Application Support/Pow/Versions/0.3.2/node_modules/nack/lib/nack/server.rb:13:in `run'
/Users/mediamarkt/Library/Application Support/Pow/Versions/0.3.2/node_modules/nack/bin/nack_worker:4:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"\": expected expression (e.g. 1px, bold), was \"= !primary_color\"\A         on line 4 of /Users/mediamarkt/src/ruby/videonight/app/assets/stylesheets/scaffolds.css.sass\A \A 1: !primary_color = #4B7399\A 2: \A 3: body\A 4:   :background-color = !primary_color\A 5:   :font\A 6:     :family Verdana, Helvetica, Arial\A 7:     :size 14px\A 8: \A 9: a"; }
