// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass/css3";
@import "compass/utilities";

.field{
.movie{
  width: 28em;
  a{
    float:right;
    margin-top:1em;
  }
  input{
   width: 99%;
  }
  background-color: #ddd;
  margin: 1em;
  padding: 1em;
  @include border-radius(3px);
}
}

